<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net471" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net471" />
  <package id="FluentWPF" version="0.7.0" targetFramework="net471" />
  <package id="Fody" version="4.2.1" targetFramework="net471" developmentDependency="true" />
  <package id="GridExtra" version="0.4.0" targetFramework="net471" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net471" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls" version="5.1.1" targetFramework="net471" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="5.1.1" targetFramework="net471" />
  <package id="Microsoft.Toolkit.Wpf.UI.XamlHost" version="5.1.1" targetFramework="net471" />
  <package id="Mpv.NET" version="1.1.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="Onova" version="2.4.2" targetFramework="net471" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net471" />
  <package id="WpfAutoGrid" version="1.4.0.0" targetFramework="net471" />
</packages>